IDD_DIALOG1 DIALOGEX 0, 0, 200, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Выбор знака"
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON      "Крестик", IDC_CROSS, 10, 10, 80, 25
    PUSHBUTTON      "Нолик", IDC_ZERO, 100, 10, 80, 25
END